<div class='to_device_setting'>
  <%= link_to 'Device Settings >>', device_setting_path(device_id: device.device_id) %>
</div>

<div class='detail'>
  <h2> Device Information </h2>
  <dl>
    <dt>Model Name</dt>
    <dd><%= device.tbl_mfc_model.name %></dd>
    <dt>Serial Number</dt>
    <dd><%= device.serial %></dd>
    <dt>BOC Device ID</dt>
    <dd><%= device.device_id %></dd>
    <dt>Country</dt>
    <dd><%= device.tbl_user.country %></dd>
    <dt>Connection Type</dt>
    <dd id= 'connection_type'><%= device.get_connection_type %></dd>
  </dl>
</div>

<div class='network_status'>
  <h2>Device Status </h2>
    <div id='bhistory'><%=button_to 'Get History Logs', history_log_path(device_id: device.device_id), method: :get%></div>
  <dl>
    <dt>Network Status</dt>
    <dd>
      <% status = online_status(device.online, @subscription) %>
      <% if status[:color] == 'red'%>
        <font class= 'font_status' color='red'>
          <div class='status_msg'><%= status[:msg] %></div>
          <div class='since'> since <%= date_conversion(device.last_presence) %> (UTC)</div>
        </font>
      <% else %>
        <div class='status_msg'><%= status[:msg] %></div>
        <div class='since'> since <%= date_conversion(device.last_presence) %> (UTC)</div>
      <% end %>
    </dd>
    <dt>Offline Days</dt>
    <dd>
      <% if device.online %>
        -
      <% else %>
        <font class='font_offlinedays' color='red'><%= silent_days(strip_time(Time.at(device.last_presence[0..9].to_i).utc)) %> days</font>
      <% end %>
    </dd>
  </dl>
</div>
