<%= render 'sessions/session' %>
<%= render 'search/form' %>

<div class='device'>
  <% if @device.present? %>
    <% if @device.size!=1 %>
      </br></br><span class = 'info'> There are multiple devices found for the searched query <%= params[@key] %>.
      Please select one of the device from list below for detailed information. </span></br></br></br>
      <%= render 'customers/devices', devices: @device, notify: @notify %>
    <% else %>
      <%= render 'back_to_customer', customers: @device.first.tbl_user.uid %>
      <%= render 'to_device_setting', device: @device.first %>
      <%= render 'consumables', consumable: @consumable %>
      <%= render 'firmware_version', firmware: eval(@device.first.mfc_specifications) %>
      <%= render 'subscription_status', subscription: @subscription %>
      <%= render 'notification', notification: @notify[@device.first.device_id] %>
    <% end %>
  <% else %>
    </br><span class='error'> Device not found. </span>
  <% end %>
</div>
