<%= render 'sessions/session' %>
<%= render 'search/form' %>

<%= link_to '<<Back', devices_search_path(device_id: @device_id) %>
<div class='subscription_detail'>
  <h2> Device Information </h2>
  <dl>
    <dt>BOC Device ID</dt>
    <dd><%= @device_id %></dd>
  </dl>
  <dl>
    <table>
      <tr>
        <th> Object ID </th>
        <th> Subscribed Date/Time</th>
        <th> Notify Interval</th>
        <th> Service Provider ID</th>
        <th style = 'text-align: center'> Last Notification </th>
      </tr>
      <% @subscribe.each do |s|%>
        <tr>
          <td><%= s.object_id %></td>
          <td><%= s.registered_date %></td>
          <td style = 'text-align: center'><%= s.time_period %></td>
          <td style = 'text-align: center'><%= s.service_id %></td>
          <td><%= @notify[s.object_id] %></td>
        </tr>
      <% end %>
    </table>
  </dl>
</div>
