<%= render 'sessions/session' %>
<%= render 'back_to_search' %>

<div class='staffs'>
  <h2> Staff Information </h2>

  <%= form_for([:admin, @staff], html: {class: 'form-horizontal'}) do |f| %>
    <dl>
      <dt> ID </dt>
      <dd> <%= @staff.id %> </dd>

      <dt><%= f.label :name, 'Name' %></dt>
      <dd><%= f.text_field :name, placeholder: 'Name', autofocus: true, class: 'form-control' %></dd>

      <dt><%= f.label :company_id, 'Company ID' %></dt>
      <dd><%= f.text_field :company_id, placeholder: 'Company ID', class: 'form-control' %></dd>

      <dt><%= f.label :email, 'E-mail Address' %></dt>
      <dd><%= f.email_field :email, placeholder: 'E-Mail Address', class: 'form-control' %></dd>

      <dt><%= f.label :admin %></dt>
      <%= f.radio_button :admin, 'sadmin' %>
      <%= f.label :admin, 'Super Administrator', :value => 'sadmin' %>
      <%= f.radio_button :admin, 'loadmin' %>
      <%= f.label :admin, 'LO Administrator', :value => 'loadmin' %>
      <%= f.radio_button :admin, 'lomstaff' %>
      <%= f.label :admin, 'LO Managing Staff', :value => 'lomstaff' %>
      <%= f.radio_button :admin, 'sdesk' %>
      <%= f.label :admin, 'Service Desk', :value => 'sdesk' %>

      <dl>
        <%= f.submit 'Update' %>
        <%= link_to 'Cancel', admin_staffs_path %>
      </dl>
    </dl>
    <% end %>
  <%= render 'shared/error_messages' %>

</div>
