<div class = 'cust_device'>
  <table>
    <thead>
      <tr>
        <th> Model Name </th>
        <th> Serial Number </th>
        <th> Device ID </th>
        <th> Online/Offline </th>
        <th style='border-right: 0px'> Notification </th>
      </tr>
    </thead>
    <tbody>
      <% devices.each do |d| %>
        <tr class='clickable-row' data-href= "<%= devices_search_path(device_id: d.device_id) %>">
          <td><%= d.tbl_mfc_model.name %></td>
          <td><%= d.serial %></td>
          <td><%= d.device_id %></td>
          <td><%= network_status(d.online) %> </br>(<%= date_conversion(d.last_presence) %>) </td>
          <td style='border-right: 0px'><%= notify[d.device_id] || '---' %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate devices %>
</div>
