<%= render 'sessions/session' %>
<%= render 'search/form' %>

<div class = 'pin_generate'>
  <div class = 'back'>
    <%= link_to '<<Back', customer_info_path %>
  </div>
  <h2> Customer Information </h2>
  <%= render 'detail', customer: @customer %>

  <% if current_staff.admin != 'sdesk' %>
  <div class = 'cust_button'>
    <%= button_to 'Generate PIN', customers_pin_generate_path(link: 'pin') %>
  <!--  <%= button_to 'Outstanding PIN', customers_pin_generate_path(link: 'outstanding_pin') %> -->
  </div>

  <div class = 'pin_data'>
    <% if @pin.present? && @pin['success'] == true%>
      <%= @pin['pins'][0] %>
    <% elsif @pin!=nil && @pin['success'] == false %>
      <span class ='error'><%= @pin['message'] %></span>
    <% end %>
  </div>
  <% end %>

  <div class = 'outstanding_data'>
  <h3> Outstanding PIN </h3>
  <% if @outstanding_pins.present? && @outstanding_pins['success']==true %>
      <table>
        <thead>
          <tr>
            <th> PIN </th>
            <th> Expiration Date </th>
            <th style='border-right: 0px'> Registrable devices count </th>
          </tr>
        </thead>
        <tbody>
          <% @pins.each do |f|%>
          <tr>
            <td><%= f['pin'] %></td>
            <td><%= f['expires']%></td>
            <td style='text-align: center; border-right: 0px'><%= f['count']%></td>
          <% end %>
        </tr>
      </table>
      <%= will_paginate @pins %>
    </div>
  <% elsif @outstanding_pins.present? && @outstanding_pins['success']==false %>
    <div class = 'failed_data'>
      PIN information cannot be displayed because <span class = 'error'><%= @outstanding_pins['message'] %></span>
    </div>
  <% end %>
</div>
