<%= render 'shared', uuid: @uuid, device_id: @device_id %>

<div class = 'device_setting'>
  <div class = 'data'>
    <%status = organize_status_by_category(@status)%>
    <% if status.empty? %>
      <div class = 'error'> Not found Error. </div>
    <% else %>
      <div id = 'dmaintenance'>
      <div><b>Last Notification:</b> <%= @updated_at %> </div><br>
      <% status.each_key do |category| %>
        <% unless status[category].blank?%>
          <div id = 'dstatus'>
            <div><b>&lt;<%= category %>&gt;</b></div>
            <ul>
              <% @status[category].each do |item| %>
                <% if item[1].class == Array %>
                  <li>
                    <%= item[0] %>
                    <ul class='case_array'>
                      <% item[1].each do |i| %>
                        <li><%= i%></li>
                      <% end %>
                    </ul>
                  </li>
                <%else%>
                  <li><%= item.join(" ") %>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
